<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
	<title><%= htmlWebpackPlugin.options.title %></title>
</head>
<body>
	
    <div class="container">
        <div class="focus">
            <ul id="list">
                <li class="slide"><a href="javascript:;"><img src="<%= require('../assets/image/queen/q-1.jpg') %>" alt=""></a></li>
                <li class="slide"><a href="javascript:;"><img src="<%= require('../assets/image/queen/q-2.jpg') %>" alt=""></a></li>
                <li class="slide"><a href="javascript:;"><img src="<%= require('../assets/image/queen/q-3.jpg') %>" alt=""></a></li>
                <li class="slide"><a href="javascript:;"><img src="<%= require('../assets/image/queen/q-4.jpg') %>" alt=""></a></li>
            </ul>
        </div>
        <div class="point" id="point"></div>
        <a href="javascript:;" class="arr prev" id="prev"></a>
        <a href="javascript:;" class="arr next" id="next"></a>
    </div>

</body>
</html>