<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8" />
	<title><%= htmlWebpackPlugin.options.title %></title>
</head>
<body>

<button class="btn btn-default" id="open">开启全屏</button>
<br>
<video width="300" height="240" controls id="video">
    <source src="http://www.runoob.com/try/demo_source/movie.mp4" type="video/mp4" /> 你的浏览器不支持video
</video>
<!-- <img src="${ require('../assets/image/10.jpg') }" alt="" id="video" /> -->
<button class="btn btn-default" id="openVideo">开启视频全屏</button>

</body>
</html>