<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
	<title><%= htmlWebpackPlugin.options.title %></title>
</head>
<body>
	
	<div class="img-box">
		<div class="big-box">
			<img src="<%= require('../assets/image/1.jpg') %>" alt="" />
			<div class="shade"></div>
		</div>
		<div class="small-box">
			<a href="javascript:;" class="act">
				<img src="<%= require('../assets/image/1.jpg') %>" alt="" />
				<i></i>
			</a>
			<a href="javascript:;">
				<img src="<%= require('../assets/image/2.jpg') %>" alt="" />
				<i></i>
			</a>
			<a href="javascript:;">
				<img src="<%= require('../assets/image/3.jpg') %>" alt="" />
				<i></i>
			</a>
			<a href="javascript:;">
				<img src="<%= require('../assets/image/4.jpg') %>" alt="" />
				<i></i>
			</a>
		</div>
		<div class="show-box">
			
		</div>
	</div>

</body>
</html>