<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
	<title><%= htmlWebpackPlugin.options.title %></title>
</head>
<body>
	<div class="bg-box">
		<canvas id="canvas"></canvas>
	</div>
	<div class="wrapper">
		<header>
			<h2>组件</h2>
		</header>
		<div class="assembly-list">
			<ul>
				<li><a href="./tab.html" target="_blank">tab切换</a></li>
				<li><a href="./focus.html" target="_blank">轮播图</a></li>
				<li><a href="./range.html" target="_blank">滑动块</a></li>
				<li><a href="./scrollbar.html" target="_blank">自定义滚动条</a></li>
				<li><a href="./button-tip.html" target="_blank">表单美化</a></li>
				<li><a href="./datepicker.html" target="_blank">日期选择</a></li>
			</ul>
		</div>
		<header>
			<h2>其他</h2>
		</header>
		<div class="assembly-list">
			<ul>
				<li><a href="./shopcart.html" target="_blank">购物车效果</a></li>
				<li><a href="./canvas.html" target="_blank">canvas效果</a></li>
			</ul>
		</div>
	</div>
</body>
</html>