<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
    <title><%= htmlWebpackPlugin.options.title %></title>
</head>
<body>
    
    <div class="range-box range-box-1 example">
        <div class="range-bar"></div>
        <div class="range-bar range-bar-active"></div>
        <div class="range-hand"></div>
        <span class="range-info">0</span>
    </div>

</body>
</html>