<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
	<title><%= htmlWebpackPlugin.options.title %></title>
</head>
<body>
	<div class="container">
        <div class="list">
              瑞士制表行业富豪名单多年来变化不大，今年与去年几乎相同。名单的稳定和财富的规模证明，制表是一种相对较小但利润丰厚的业务，而且大部分的成功在很久以前就已奠定基础，并随着时间的推移逐渐孕育壮大。《Bilanz》名单上的最新成员来自Franck Muller和Hublot宇舶表，两者皆已有二三十年的历史。

              以下是《Bilanz》2017年瑞士富豪300强名单中的制表巨富，仅列入主要财富来自制表的成员，而不包括业务投资者（如拥有Armin Strom的米歇尔家族），或外围相关人士（如1980年代协助设计Swatch的Ernst Thomke）。

              奢侈制表市场形势逆转之后，历峰集团（Richemont）股价的上涨增加了约翰·鲁珀特（Johann Rupert）的财富，使他成为瑞士制表行业最富有的大亨。他所掌控的集团旗下拥有像卡地亚、IWC万国表和Piaget伯爵这样的品牌，经过去年的管理层重组后，集团迎来一些新面孔，一些更年轻、更网络化的领导者。最近，历峰集团还提出收购Yoox Net-a-Porter，以促进在线零售业务发展。

              三位海耶克家族成员 - 兄妹尼克·海耶克（Nick Hayek）和奈拉·海耶克（Nayla Hayek），以及奈拉的儿子马克·海耶克（Marc Hayek）控制了斯沃琪集团（Swatch Group）40%的投票权，该集团旗下拥有欧米茄（OMEGA）、浪琴表和天梭表等品牌。与竞争对手一样，斯沃琪集团在奢侈腕表业务方面有所复苏，这提振了业绩和股价。除此之外，海耶克家族还控制着开发清洁能源和太阳能技术的Belenos公司，预计至2020年，该公司销售额将达到10-15亿瑞郎。
              瑞士制表行业富豪名单多年来变化不大，今年与去年几乎相同。名单的稳定和财富的规模证明，制表是一种相对较小但利润丰厚的业务，而且大部分的成功在很久以前就已奠定基础，并随着时间的推移逐渐孕育壮大。《Bilanz》名单上的最新成员来自Franck Muller和Hublot宇舶表，两者皆已有二三十年的历史。

              以下是《Bilanz》2017年瑞士富豪300强名单中的制表巨富，仅列入主要财富来自制表的成员，而不包括业务投资者（如拥有Armin Strom的米歇尔家族），或外围相关人士（如1980年代协助设计Swatch的Ernst Thomke）。

              奢侈制表市场形势逆转之后，历峰集团（Richemont）股价的上涨增加了约翰·鲁珀特（Johann Rupert）的财富，使他成为瑞士制表行业最富有的大亨。他所掌控的集团旗下拥有像卡地亚、IWC万国表和Piaget伯爵这样的品牌，经过去年的管理层重组后，集团迎来一些新面孔，一些更年轻、更网络化的领导者。最近，历峰集团还提出收购Yoox Net-a-Porter，以促进在线零售业务发展。

              三位海耶克家族成员 - 兄妹尼克·海耶克（Nick Hayek）和奈拉·海耶克（Nayla Hayek），以及奈拉的儿子马克·海耶克（Marc Hayek）控制了斯沃琪集团（Swatch Group）40%的投票权，该集团旗下拥有欧米茄（OMEGA）、浪琴表和天梭表等品牌。与竞争对手一样，斯沃琪集团在奢侈腕表业务方面有所复苏，这提振了业绩和股价。除此之外，海耶克家族还控制着开发清洁能源和太阳能技术的Belenos公司，预计至2020年，该公司销售额将达到10-15亿瑞郎。
              瑞士制表行业富豪名单多年来变化不大，今年与去年几乎相同。名单的稳定和财富的规模证明，制表是一种相对较小但利润丰厚的业务，而且大部分的成功在很久以前就已奠定基础，并随着时间的推移逐渐孕育壮大。《Bilanz》名单上的最新成员来自Franck Muller和Hublot宇舶表，两者皆已有二三十年的历史。

              以下是《Bilanz》2017年瑞士富豪300强名单中的制表巨富，仅列入主要财富来自制表的成员，而不包括业务投资者（如拥有Armin Strom的米歇尔家族），或外围相关人士（如1980年代协助设计Swatch的Ernst Thomke）。

              奢侈制表市场形势逆转之后，历峰集团（Richemont）股价的上涨增加了约翰·鲁珀特（Johann Rupert）的财富，使他成为瑞士制表行业最富有的大亨。他所掌控的集团旗下拥有像卡地亚、IWC万国表和Piaget伯爵这样的品牌，经过去年的管理层重组后，集团迎来一些新面孔，一些更年轻、更网络化的领导者。最近，历峰集团还提出收购Yoox Net-a-Porter，以促进在线零售业务发展。

              三位海耶克家族成员 - 兄妹尼克·海耶克（Nick Hayek）和奈拉·海耶克（Nayla Hayek），以及奈拉的儿子马克·海耶克（Marc Hayek）控制了斯沃琪集团（Swatch Group）40%的投票权，该集团旗下拥有欧米茄（OMEGA）、浪琴表和天梭表等品牌。与竞争对手一样，斯沃琪集团在奢侈腕表业务方面有所复苏，这提振了业绩和股价。除此之外，海耶克家族还控制着开发清洁能源和太阳能技术的Belenos公司，预计至2020年，该公司销售额将达到10-15亿瑞郎。
              瑞士制表行业富豪名单多年来变化不大，今年与去年几乎相同。名单的稳定和财富的规模证明，制表是一种相对较小但利润丰厚的业务，而且大部分的成功在很久以前就已奠定基础，并随着时间的推移逐渐孕育壮大。《Bilanz》名单上的最新成员来自Franck Muller和Hublot宇舶表，两者皆已有二三十年的历史。

              以下是《Bilanz》2017年瑞士富豪300强名单中的制表巨富，仅列入主要财富来自制表的成员，而不包括业务投资者（如拥有Armin Strom的米歇尔家族），或外围相关人士（如1980年代协助设计Swatch的Ernst Thomke）。

              奢侈制表市场形势逆转之后，历峰集团（Richemont）股价的上涨增加了约翰·鲁珀特（Johann Rupert）的财富，使他成为瑞士制表行业最富有的大亨。他所掌控的集团旗下拥有像卡地亚、IWC万国表和Piaget伯爵这样的品牌，经过去年的管理层重组后，集团迎来一些新面孔，一些更年轻、更网络化的领导者。最近，历峰集团还提出收购Yoox Net-a-Porter，以促进在线零售业务发展。

              三位海耶克家族成员 - 兄妹尼克·海耶克（Nick Hayek）和奈拉·海耶克（Nayla Hayek），以及奈拉的儿子马克·海耶克（Marc Hayek）控制了斯沃琪集团（Swatch Group）40%的投票权，该集团旗下拥有欧米茄（OMEGA）、浪琴表和天梭表等品牌。与竞争对手一样，斯沃琪集团在奢侈腕表业务方面有所复苏，这提振了业绩和股价。除此之外，海耶克家族还控制着开发清洁能源和太阳能技术的Belenos公司，预计至2020年，该公司销售额将达到10-15亿瑞郎。
              瑞士制表行业富豪名单多年来变化不大，今年与去年几乎相同。名单的稳定和财富的规模证明，制表是一种相对较小但利润丰厚的业务，而且大部分的成功在很久以前就已奠定基础，并随着时间的推移逐渐孕育壮大。《Bilanz》名单上的最新成员来自Franck Muller和Hublot宇舶表，两者皆已有二三十年的历史。

              以下是《Bilanz》2017年瑞士富豪300强名单中的制表巨富，仅列入主要财富来自制表的成员，而不包括业务投资者（如拥有Armin Strom的米歇尔家族），或外围相关人士（如1980年代协助设计Swatch的Ernst Thomke）。

              奢侈制表市场形势逆转之后，历峰集团（Richemont）股价的上涨增加了约翰·鲁珀特（Johann Rupert）的财富，使他成为瑞士制表行业最富有的大亨。他所掌控的集团旗下拥有像卡地亚、IWC万国表和Piaget伯爵这样的品牌，经过去年的管理层重组后，集团迎来一些新面孔，一些更年轻、更网络化的领导者。最近，历峰集团还提出收购Yoox Net-a-Porter，以促进在线零售业务发展。

              三位海耶克家族成员 - 兄妹尼克·海耶克（Nick Hayek）和奈拉·海耶克（Nayla Hayek），以及奈拉的儿子马克·海耶克（Marc Hayek）控制了斯沃琪集团（Swatch Group）40%的投票权，该集团旗下拥有欧米茄（OMEGA）、浪琴表和天梭表等品牌。与竞争对手一样，斯沃琪集团在奢侈腕表业务方面有所复苏，这提振了业绩和股价。除此之外，海耶克家族还控制着开发清洁能源和太阳能技术的Belenos公司，预计至2020年，该公司销售额将达到10-15亿瑞郎。瑞士制表行业富豪名单多年来变化不大，今年与去年几乎相同。名单的稳定和财富的规模证明，制表是一种相对较小但利润丰厚的业务，而且大部分的成功在很久以前就已奠定基础，并随着时间的推移逐渐孕育壮大。《Bilanz》名单上的最新成员来自Franck Muller和Hublot宇舶表，两者皆已有二三十年的历史。

              以下是《Bilanz》2017年瑞士富豪300强名单中的制表巨富，仅列入主要财富来自制表的成员，而不包括业务投资者（如拥有Armin Strom的米歇尔家族），或外围相关人士（如1980年代协助设计Swatch的Ernst Thomke）。

              奢侈制表市场形势逆转之后，历峰集团（Richemont）股价的上涨增加了约翰·鲁珀特（Johann Rupert）的财富，使他成为瑞士制表行业最富有的大亨。他所掌控的集团旗下拥有像卡地亚、IWC万国表和Piaget伯爵这样的品牌，经过去年的管理层重组后，集团迎来一些新面孔，一些更年轻、更网络化的领导者。最近，历峰集团还提出收购Yoox Net-a-Porter，以促进在线零售业务发展。

              三位海耶克家族成员 - 兄妹尼克·海耶克（Nick Hayek）和奈拉·海耶克（Nayla Hayek），以及奈拉的儿子马克·海耶克（Marc Hayek）控制了斯沃琪集团（Swatch Group）40%的投票权，该集团旗下拥有欧米茄（OMEGA）、浪琴表和天梭表等品牌。与竞争对手一样，斯沃琪集团在奢侈腕表业务方面有所复苏，这提振了业绩和股价。除此之外，海耶克家族还控制着开发清洁能源和太阳能技术的Belenos公司，预计至2020年，该公司销售额将达到10-15亿瑞郎。
              瑞士制表行业富豪名单多年来变化不大，今年与去年几乎相同。名单的稳定和财富的规模证明，制表是一种相对较小但利润丰厚的业务，而且大部分的成功在很久以前就已奠定基础，并随着时间的推移逐渐孕育壮大。《Bilanz》名单上的最新成员来自Franck Muller和Hublot宇舶表，两者皆已有二三十年的历史。

              以下是《Bilanz》2017年瑞士富豪300强名单中的制表巨富，仅列入主要财富来自制表的成员，而不包括业务投资者（如拥有Armin Strom的米歇尔家族），或外围相关人士（如1980年代协助设计Swatch的Ernst Thomke）。

              奢侈制表市场形势逆转之后，历峰集团（Richemont）股价的上涨增加了约翰·鲁珀特（Johann Rupert）的财富，使他成为瑞士制表行业最富有的大亨。他所掌控的集团旗下拥有像卡地亚、IWC万国表和Piaget伯爵这样的品牌，经过去年的管理层重组后，集团迎来一些新面孔，一些更年轻、更网络化的领导者。最近，历峰集团还提出收购Yoox Net-a-Porter，以促进在线零售业务发展。

              三位海耶克家族成员 - 兄妹尼克·海耶克（Nick Hayek）和奈拉·海耶克（Nayla Hayek），以及奈拉的儿子马克·海耶克（Marc Hayek）控制了斯沃琪集团（Swatch Group）40%的投票权，该集团旗下拥有欧米茄（OMEGA）、浪琴表和天梭表等品牌。与竞争对手一样，斯沃琪集团在奢侈腕表业务方面有所复苏，这提振了业绩和股价。除此之外，海耶克家族还控制着开发清洁能源和太阳能技术的Belenos公司，预计至2020年，该公司销售额将达到10-15亿瑞郎。
              瑞士制表行业富豪名单多年来变化不大，今年与去年几乎相同。名单的稳定和财富的规模证明，制表是一种相对较小但利润丰厚的业务，而且大部分的成功在很久以前就已奠定基础，并随着时间的推移逐渐孕育壮大。《Bilanz》名单上的最新成员来自Franck Muller和Hublot宇舶表，两者皆已有二三十年的历史。

              以下是《Bilanz》2017年瑞士富豪300强名单中的制表巨富，仅列入主要财富来自制表的成员，而不包括业务投资者（如拥有Armin Strom的米歇尔家族），或外围相关人士（如1980年代协助设计Swatch的Ernst Thomke）。

              奢侈制表市场形势逆转之后，历峰集团（Richemont）股价的上涨增加了约翰·鲁珀特（Johann Rupert）的财富，使他成为瑞士制表行业最富有的大亨。他所掌控的集团旗下拥有像卡地亚、IWC万国表和Piaget伯爵这样的品牌，经过去年的管理层重组后，集团迎来一些新面孔，一些更年轻、更网络化的领导者。最近，历峰集团还提出收购Yoox Net-a-Porter，以促进在线零售业务发展。

              三位海耶克家族成员 - 兄妹尼克·海耶克（Nick Hayek）和奈拉·海耶克（Nayla Hayek），以及奈拉的儿子马克·海耶克（Marc Hayek）控制了斯沃琪集团（Swatch Group）40%的投票权，该集团旗下拥有欧米茄（OMEGA）、浪琴表和天梭表等品牌。与竞争对手一样，斯沃琪集团在奢侈腕表业务方面有所复苏，这提振了业绩和股价。除此之外，海耶克家族还控制着开发清洁能源和太阳能技术的Belenos公司，预计至2020年，该公司销售额将达到10-15亿瑞郎。
              瑞士制表行业富豪名单多年来变化不大，今年与去年几乎相同。名单的稳定和财富的规模证明，制表是一种相对较小但利润丰厚的业务，而且大部分的成功在很久以前就已奠定基础，并随着时间的推移逐渐孕育壮大。《Bilanz》名单上的最新成员来自Franck Muller和Hublot宇舶表，两者皆已有二三十年的历史。

              以下是《Bilanz》2017年瑞士富豪300强名单中的制表巨富，仅列入主要财富来自制表的成员，而不包括业务投资者（如拥有Armin Strom的米歇尔家族），或外围相关人士（如1980年代协助设计Swatch的Ernst Thomke）。

              奢侈制表市场形势逆转之后，历峰集团（Richemont）股价的上涨增加了约翰·鲁珀特（Johann Rupert）的财富，使他成为瑞士制表行业最富有的大亨。他所掌控的集团旗下拥有像卡地亚、IWC万国表和Piaget伯爵这样的品牌，经过去年的管理层重组后，集团迎来一些新面孔，一些更年轻、更网络化的领导者。最近，历峰集团还提出收购Yoox Net-a-Porter，以促进在线零售业务发展。

              三位海耶克家族成员 - 兄妹尼克·海耶克（Nick Hayek）和奈拉·海耶克（Nayla Hayek），以及奈拉的儿子马克·海耶克（Marc Hayek）控制了斯沃琪集团（Swatch Group）40%的投票权，该集团旗下拥有欧米茄（OMEGA）、浪琴表和天梭表等品牌。与竞争对手一样，斯沃琪集团在奢侈腕表业务方面有所复苏，这提振了业绩和股价。除此之外，海耶克家族还控制着开发清洁能源和太阳能技术的Belenos公司，预计至2020年，该公司销售额将达到10-15亿瑞郎。
              瑞士制表行业富豪名单多年来变化不大，今年与去年几乎相同。名单的稳定和财富的规模证明，制表是一种相对较小但利润丰厚的业务，而且大部分的成功在很久以前就已奠定基础，并随着时间的推移逐渐孕育壮大。《Bilanz》名单上的最新成员来自Franck Muller和Hublot宇舶表，两者皆已有二三十年的历史。

              以下是《Bilanz》2017年瑞士富豪300强名单中的制表巨富，仅列入主要财富来自制表的成员，而不包括业务投资者（如拥有Armin Strom的米歇尔家族），或外围相关人士（如1980年代协助设计Swatch的Ernst Thomke）。

              奢侈制表市场形势逆转之后，历峰集团（Richemont）股价的上涨增加了约翰·鲁珀特（Johann Rupert）的财富，使他成为瑞士制表行业最富有的大亨。他所掌控的集团旗下拥有像卡地亚、IWC万国表和Piaget伯爵这样的品牌，经过去年的管理层重组后，集团迎来一些新面孔，一些更年轻、更网络化的领导者。最近，历峰集团还提出收购Yoox Net-a-Porter，以促进在线零售业务发展。

              三位海耶克家族成员 - 兄妹尼克·海耶克（Nick Hayek）和奈拉·海耶克（Nayla Hayek），以及奈拉的儿子马克·海耶克（Marc Hayek）控制了斯沃琪集团（Swatch Group）40%的投票权，该集团旗下拥有欧米茄（OMEGA）、浪琴表和天梭表等品牌。与竞争对手一样，斯沃琪集团在奢侈腕表业务方面有所复苏，这提振了业绩和股价。除此之外，海耶克家族还控制着开发清洁能源和太阳能技术的Belenos公司，预计至2020年，该公司销售额将达到10-15亿瑞郎。
              瑞士制表行业富豪名单多年来变化不大，今年与去年几乎相同。名单的稳定和财富的规模证明，制表是一种相对较小但利润丰厚的业务，而且大部分的成功在很久以前就已奠定基础，并随着时间的推移逐渐孕育壮大。《Bilanz》名单上的最新成员来自Franck Muller和Hublot宇舶表，两者皆已有二三十年的历史。

              以下是《Bilanz》2017年瑞士富豪300强名单中的制表巨富，仅列入主要财富来自制表的成员，而不包括业务投资者（如拥有Armin Strom的米歇尔家族），或外围相关人士（如1980年代协助设计Swatch的Ernst Thomke）。

              奢侈制表市场形势逆转之后，历峰集团（Richemont）股价的上涨增加了约翰·鲁珀特（Johann Rupert）的财富，使他成为瑞士制表行业最富有的大亨。他所掌控的集团旗下拥有像卡地亚、IWC万国表和Piaget伯爵这样的品牌，经过去年的管理层重组后，集团迎来一些新面孔，一些更年轻、更网络化的领导者。最近，历峰集团还提出收购Yoox Net-a-Porter，以促进在线零售业务发展。

              三位海耶克家族成员 - 兄妹尼克·海耶克（Nick Hayek）和奈拉·海耶克（Nayla Hayek），以及奈拉的儿子马克·海耶克（Marc Hayek）控制了斯沃琪集团（Swatch Group）40%的投票权，该集团旗下拥有欧米茄（OMEGA）、浪琴表和天梭表等品牌。与竞争对手一样，斯沃琪集团在奢侈腕表业务方面有所复苏，这提振了业绩和股价。除此之外，海耶克家族还控制着开发清洁能源和太阳能技术的Belenos公司，预计至2020年，该公司销售额将达到10-15亿瑞郎。

              瑞士制表行业富豪名单多年来变化不大，今年与去年几乎相同。名单的稳定和财富的规模证明，制表是一种相对较小但利润丰厚的业务，而且大部分的成功在很久以前就已奠定基础，并随着时间的推移逐渐孕育壮大。《Bilanz》名单上的最新成员来自Franck Muller和Hublot宇舶表，两者皆已有二三十年的历史。

              以下是《Bilanz》2017年瑞士富豪300强名单中的制表巨富，仅列入主要财富来自制表的成员，而不包括业务投资者（如拥有Armin Strom的米歇尔家族），或外围相关人士（如1980年代协助设计Swatch的Ernst Thomke）。

              奢侈制表市场形势逆转之后，历峰集团（Richemont）股价的上涨增加了约翰·鲁珀特（Johann Rupert）的财富，使他成为瑞士制表行业最富有的大亨。他所掌控的集团旗下拥有像卡地亚、IWC万国表和Piaget伯爵这样的品牌，经过去年的管理层重组后，集团迎来一些新面孔，一些更年轻、更网络化的领导者。最近，历峰集团还提出收购Yoox Net-a-Porter，以促进在线零售业务发展。

              三位海耶克家族成员 - 兄妹尼克·海耶克（Nick Hayek）和奈拉·海耶克（Nayla Hayek），以及奈拉的儿子马克·海耶克（Marc Hayek）控制了斯沃琪集团（Swatch Group）40%的投票权，该集团旗下拥有欧米茄（OMEGA）、浪琴表和天梭表等品牌。与竞争对手一样，斯沃琪集团在奢侈腕表业务方面有所复苏，这提振了业绩和股价。除此之外，海耶克家族还控制着开发清洁能源和太阳能技术的Belenos公司，预计至2020年，该公司销售额将达到10-15亿瑞郎。
        </div>
	</div>
</body>
</html>