<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
	<title><%= htmlWebpackPlugin.options.title %></title>
</head>
<body>
	<div class="container-1">
        <div class="list clearfix">
              <div><img src="<%= require('../assets/image/queen/q-1.jpg') %>" alt=""></div>
              <div><img src="<%= require('../assets/image/queen/q-2.jpg') %>" alt=""></div>
              <div><img src="<%= require('../assets/image/queen/q-3.jpg') %>" alt=""></div>
              <div><img src="<%= require('../assets/image/queen/q-4.jpg') %>" alt=""></div>
              <div><img src="<%= require('../assets/image/queen/q-5.jpg') %>" alt=""></div>
              <div><img src="<%= require('../assets/image/queen/q-6.jpg') %>" alt=""></div>
              <div><img src="<%= require('../assets/image/queen/q-7.jpg') %>" alt=""></div>
        </div>
	</div>
    <div class="container-2">
        <div class="list clearfix">
              <div><img src="<%= require('../assets/image/queen/q-1.jpg') %>" alt=""></div>
              <div><img src="<%= require('../assets/image/queen/q-2.jpg') %>" alt=""></div>
              <div><img src="<%= require('../assets/image/queen/q-3.jpg') %>" alt=""></div>
              <div><img src="<%= require('../assets/image/queen/q-4.jpg') %>" alt=""></div>
              <div><img src="<%= require('../assets/image/queen/q-5.jpg') %>" alt=""></div>
              <div><img src="<%= require('../assets/image/queen/q-6.jpg') %>" alt=""></div>
              <div><img src="<%= require('../assets/image/queen/q-7.jpg') %>" alt=""></div>
        </div>
    </div>
</body>
</html>