<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title><%= htmlWebpackPlugin.options.title %></title>
</head>
<body>
<div class="suspend-box">
    <div class="suspend suspend-horizontal">
        <div class="suspend-btn burge burge-line">
            <span></span>
            <span></span>
            <span></span>
        </div>
        <div class="suspend-item">
            1
        </div>
        <div class="suspend-item">
            2
        </div>
        <div class="suspend-item">
            3
        </div>
    </div>

    <div class="suspend suspend-vertical">
        <div class="suspend-btn burge burge-line">
            <span></span>
            <span></span>
            <span></span>
        </div>
        <div class="suspend-item">
            1
        </div>
        <div class="suspend-item">
            2
        </div>
        <div class="suspend-item">
            3
        </div>
    </div>

    <div class="suspend suspend-horizontal-reverse">
        <div class="suspend-btn burge burge-line">
            <span></span>
            <span></span>
            <span></span>
        </div>
        <div class="suspend-item">
            1
        </div>
        <div class="suspend-item">
            2
        </div>
        <div class="suspend-item">
            3
        </div>
    </div>

    <div class="suspend suspend-vertical-reverse">
        <div class="suspend-btn burge burge-line">
            <span></span>
            <span></span>
            <span></span>
        </div>
        <div class="suspend-item">
            1
        </div>
        <div class="suspend-item">
            2
        </div>
        <div class="suspend-item">
            3
        </div>
    </div>

    <div class="suspend suspend-circle">
        <div class="suspend-btn burge burge-line">
            <span></span>
            <span></span>
            <span></span>
        </div>
        <div class="suspend-item">
            1
        </div>
        <div class="suspend-item">
            2
        </div>
        <div class="suspend-item">
            3
        </div>
    </div>
    

</div>
    


    
</body>
</html>