<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8" />
	<title><%= htmlWebpackPlugin.options.title %></title>
</head>
<body>

<!--第一种方法，使用浏览器私有属性-->
<div class="range-slider range-field">
	<input type="range" value="0" min="0" max="100" />
	<span class="range-slider-tooltip"></span>
</div>
<!--//第一种方法，使用浏览器私有属性-->

<!--第二种方法，自定义-->
<div class="range-slider custom-range">
	<div class="range-bar"></div>
	<div class="range-bar range-bar-active"></div>
	<div class="range-knob-handle">
		<div class="range-knob"></div>
	</div>
	<div class="range-slider-tooltip"></div>
</div>
<div class="range-slider custom-range2">
	<div class="range-bar"></div>
	<div class="range-bar range-bar-active"></div>
	<div class="range-knob-handle">
		<div class="range-knob"></div>
	</div>
	<div class="range-slider-tooltip"></div>
</div>
<div class="range-slider warning custom-range">
	<div class="range-bar"></div>
	<div class="range-bar range-bar-active"></div>
	<div class="range-knob-handle">
		<div class="range-knob"></div>
	</div>
	<div class="range-slider-tooltip"></div>
</div>
<div class="range-slider error custom-range">
	<div class="range-bar"></div>
	<div class="range-bar range-bar-active"></div>
	<div class="range-knob-handle">
		<div class="range-knob"></div>
	</div>
	<div class="range-slider-tooltip"></div>
</div>
<div class="range-slider success custom-range">
	<div class="range-bar"></div>
	<div class="range-bar range-bar-active"></div>
	<div class="range-knob-handle">
		<div class="range-knob"></div>
	</div>
	<div class="range-slider-tooltip"></div>
</div>
<!--//第二种方法，自定义-->





</body>
</html>