<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
    <title><%= htmlWebpackPlugin.options.title %></title>
</head>
<body>
	
	<div class="canvas-box">
		<canvas id="canvas" class="draw" width="800" height="800"></canvas>
	</div>
    <canvas id="mark" width="960" height="600"></canvas>
    <img src="<%= require('../assets/image/hanxue.png') %>" style="display: none;" alt="" id="hanxue">
	<!-- <button id="btn">click</button> -->
	<!-- <img src="<%= require('../assets/image/queen/q-1.jpg') %>" alt="" id="img" /> -->
</body>
</html>