<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8" />
	<title><%= htmlWebpackPlugin.options.title %></title>
</head>
<body>
<div class="tree">
	<ul>
		<li class="collapsable open">
			<span>目录1</span>
			<ul>
				<li class="collapsable">
					<span>子目录</span>
					<ul>
						<li class="last">
							<span>文件</span>
						</li>
					</ul>
				</li>
			</ul>
		</li>
		<li class="collapsable">
			<span>目录2</span>
			<ul>
				<li class="collapsable">
					<span>子目录</span>
					<ul>
						<li class="last">
							<span>文件</span>
						</li>
					</ul>
				</li>
			</ul>
		</li>
		<li class="collapsable">
			<span>目录3</span>
			<ul>
				<li class="collapsable">
					<span>子目录</span>
					<ul>
						<li class="last">
							<span>文件</span>
							<span class="image">图片</span>
						</li>
					</ul>
				</li>
			</ul>
		</li>
	</ul>
</div>
</body>
</html>