.marquee-box,
.marquee-box *{
	margin:0;
	padding:0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.marquee-box {
	position: relative;
	width: 800px;
	height: 100px;
	background: #eee;
	margin: 10px;
	padding: 0 10px;
	line-height: 100px;
	overflow: hidden;
}

.marquee-inner {
	position: absolute;
	top: 0;
	left: 0;
}
.marquee-box ul{
	width: 1200px;
}
.marquee-box ul li {
	float: left;
	height: 100%;
}
.marquee-box ul li img{
	height: 100px;
}