body{
	font-family: "微软雅黑";
}

.tab-container{
	width: 300px;
	margin: 10px auto;
	border: 1px solid #d9d9d9;
}

.tab-container *{
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.tab-nav {
	position: relative;
}

.tab-buttons {
	position: relative;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-pack: center;
	-webkit-align-items: center;
	align-items: center;
	border-bottom: 1px solid #d9d9d9;
}

.tab-buttons:after {
	position: absolute;
}

.tab-button {
	position: relative;
	/*overflow: hidden;*/
	display: -moz-box;
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-pack: center;
	-webkit-align-items: center;
	align-items: center;
	-webkit-box-orient: vertical;
	-webkit-flex-direction: column;
	flex-direction: column;
	-webkit-flex-shrink: 1;
	flex-shrink: 1;
	width: 100%;
	padding: 2.5px 0;
	line-height:35px;
	color: #000;
	cursor: pointer;
	/*box-shadow: inset 0 -2px 0 0 #eee;*/
}

.tab-nav .tab-indicator {
	position: absolute;
	bottom: 0;
	left: 0;
	background: #1ABC9C;
	height: .1rem;
	-webkit-transition: left .25s;
	transition: left .25s;
	will-change: left;
}

.tab-body {
	padding: 5px 0;
}

.tab-list .tab-item {
	height: 50px;
	padding:10px;
	display: none;
}

.tab-list .tab-item.active {
	display: block;
}

/* 效果说明样式 */
.explain{
	width: 500px;
	margin: 20px auto 0;
	padding: 10px;
	/*background: #f2f2f2;*/
	/*color: #333;*/
	border: 1px dotted #aaa;
	line-height: 20px;
	font-size: 14px;
}

/* 默认样式 */
.tab-default .tab-button.active{
	background: #1ABC9C;
	color: #fff;
}
/* 移动切换样式 */
.tab-line .tab-nav{
	background: #08c;
}
.tab-line .tab-nav .tab-move-bg{
	position: absolute;
	top: 0;
	left: 0;
	width: 100px;
	height: 40px;
	background: #1ABC9C;
	-webkit-transition: left .3s;
	transition: left .3s;
}
.tab-line .tab-button{
	color: #fff;
}



