.canvas-box{
	margin: 0 auto 30px;
}
.canvas-box h1{
	height: 40px;
	line-height: 40px;
	font-size: 30px;
	color: #f00;
	text-align: center;
}
.canvas-box canvas{
	display: block;
	margin: 20px auto;
}