.item{
	height: 50px;
	padding: 10px 0;
	/*overflow: hidden;*/
}
.item button{
	display: block;
	width: 100%;
	/*height: 50px;*/
	line-height: 25px;
	outline: none;
}

.dialog-wrapper{
	display: flex;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 10000;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,.4);
}
.dialog-container{
	min-width: 60px;
	background: rgba(0,0,0,.8);
	padding: 10px;
	border-radius: 10px;
	-webkit-transition: all .3s cubic-bezier(0.66, 0.21, 0.25, 1.38);
	transition: all .3s cubic-bezier(0.66, 0.21, 0.25, 1.38);
}

.dialog-header{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 40px;
	height: 40px;
	margin: 0 auto;
	border: 2px solid #fff;
	border-radius: 50%;
}

.dialog-header.confirm:after{
	content: '';
	display: block;
	width: 25px;
	height: 12px;
	border: 2px solid #fff;
	border-width: 0 0 2px 2px;
	transform: rotate(-45deg);
}
.dialog-header.warning{
	flex-direction: column;
}
.dialog-header.warning:before{
	content: '';
	display: block;
	width: 3px;
	height: 15px;
	background: #fff;
}

.dialog-header.warning:after{
	content: '';
	display: block;
	width: 3px;
	height: 3px;
	background: #fff;
	margin-top: 3px;
}

.dialog-header.waiting{
	position: relative;
	border: none;
}

.dialog-header.waiting span{
	display: inline-block;
	position: absolute;
	width: 5px;
	height: 5px;
	border-radius: 50%;
	background: #fff;
	-webkit-animation: load 1s ease infinite;
	animation: load 1s ease infinite;
}

.dialog-header.waiting span:nth-child(1){
	left: 0;
	top: 50%;
	margin-top: -2.5px;
	-webkit-animation-delay: 0.13s;
	animation-delay: 0.13s;
}
.dialog-header.waiting span:nth-child(2){
	left: 5px;
	top: 5px;
	-webkit-animation-delay: 0.26s;
	animation-delay: 0.26s;
}
.dialog-header.waiting span:nth-child(3){
	top: 0;
	left: 50%;
	margin-left: -2.5px;
	-webkit-animation-delay: 0.39s;
	animation-delay: 0.39s;
}
.dialog-header.waiting span:nth-child(4){
	top: 5px;
	right: 5px;
	-webkit-animation-delay: 0.52s;
	animation-delay: 0.52s;
}
.dialog-header.waiting span:nth-child(5){
	top: 50%;
	right: 0;
	margin-top: -2.5px;
	-webkit-animation-delay: 0.65s;
	animation-delay: 0.65s;
}
.dialog-header.waiting span:nth-child(6){
	bottom: 5px;
	right: 5px;
	-webkit-animation-delay: 0.78s;
	animation-delay: 0.78s;
}
.dialog-header.waiting span:nth-child(7){
	bottom: 0;
	left: 50%;
	margin-left: -2.5px;
	-webkit-animation-delay: 0.91s;
	animation-delay: 0.91s;
}
.dialog-header.waiting span:nth-child(8){
	bottom: 5px;
	left: 5px;
	-webkit-animation-delay: 1.04s;
	animation-delay: 1.04s;
}

@-webkit-keyframes load{
	0% {
		-webkit-transform: scale(1.5);
	}
	100% {
		-webkit-transform: scale(.5);
	}
}

@keyframes load{
	0% {
		transform: scale(1.5);
	}
	100% {
		transform: scale(.5);
	}
}

.dialog-txt{
	margin-top: 10px;
	font-size: 16px;
	line-height: 24px;
	text-align: center;
	color: #fff;
}
.dialog-footer{
	display: flex;
	justify-content: space-between;
	flex-wrap: nowrap;
	margin-top: 10px;
	font-size: 0;
}
.dialog-footer button{
	margin: 0 5px;
	/*width: 50px;*/
	height: 30px;
	border: none;
	outline: none;
	color: #fff;
}
.dialog-footer button.waiting{background: #c0baba;}
.dialog-footer button.warning{background: #f00;}
.dialog-footer button.confirm{background: #15d63e;}











