html, body{
	position: relative;
	width: 100%;
	height: 100%;	
}
.bg-box{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.wrapper{
	position: absolute;
	top: 0;
	left: 50%;
	width: 1000px;
	height: 100%;
	margin-left: -500px;
	background: #f3f3f3;
}
header{
	height: 50px;
	line-height: 50px;
}
header h2{
	padding: 0 15px;
	font-size: 30px;
	color: #f00;
	font-weight: normal;
	border-bottom: 3px solid #f00;
}

.assembly-list{
	width: 970px;
	margin: 0 auto;
	padding: 10px 15px;
}
.assembly-list ul li{
	height: 40px;
	line-height: 40px;
	font-size: 20px;
	border-bottom: 1px dotted #aaa;
}
.assembly-list ul li a{
	display: block;
	color: #08c;
}
.assembly-list ul li a:hover{
	color: #f00;
}















